<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Multiplayer Snake</title>
		<link rel="stylesheet" href="/assets/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/assets/client.js"></script>
		<link href="./assets/style.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
		<h1>Snake Game!</h1>
	
		<div id="scoreboard">
			<span id="kills">Kills: 0</span> - 
			<span id="deaths">Deaths: 0</span>
		</div><br/>
		
		<canvas id="stage" width="500" height="500">
			Canvas not supported.
		</canvas>
		
		<a href="./index.html">Home Page </a><br>
	
	</body>

	

</html>