<html>
    <head>
        <link href="./assets/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <h1>Pagina principal  </h1>
        <a href="./">To Play </a><br>

        <a href="../public/registroUsuarios.html">Registre usuaris </a><br>
        <a href="../public/login.html">Login usuaris </a><br>
        <a href="../public/puntuaciones.html">Registrar Puntuaciones </a><br>
        <a href="../public/conspuntuaciones.html">Consultar Puntuaciones </a><br>
    </body>
</html>